{% extends 'base.html' %}
{% block title %}
Doofenshmirtz Evil Inc.
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark custom-rounded"
    style="color: aliceblue;">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <img class="mb-4" src="{{ url_for('static', filename='images/logo-temp.png') }}" alt="" width="500"
            height="200">
        <h1 class="display-4 font-weight-normal">Welcome to Doofenshmirtz Evil Inc.</h1>
        <p class="lead font-weight-normal">We are the leading company in the Tri-State Area for all your evil needs.</p>
        <a class="btn btn-outline-secondary" href="{{ url_for('registerPage') }}">Become a master menace?</a>
    </div>
</div>
{% endblock %}